**/obj
**/bin
/StoreFlow.Usuarios/.vs/StoreFlow.Usuarios/CopilotIndices/17.13.441.19478
/StoreFlow.Usuarios/.vs/StoreFlow.Usuarios/DesignTimeBuild
/StoreFlow.Usuarios/.vs/StoreFlow.Usuarios/FileContentIndex
/StoreFlow.Usuarios/.vs/StoreFlow.Usuarios/v17/TestStore/0
*.suo
/StoreFlow.Usuarios/.vs/StoreFlow.Usuarios/v17/DocumentLayout.backup.json
/StoreFlow.Usuarios/StoreFlow.Usuarios.API/Endpoints/UsuariosEndpoints.cs
/StoreFlow.Usuarios/.vs/StoreFlow.Usuarios/v17/DocumentLayout.json
/StoreFlow.Usuarios/StoreFlow.Usuarios.Tests/TestResults
/StoreFlow.Usuarios/TestResults
/StoreFlow.Usuarios/.vs
UI/package-lock.json
/Infraestructura/.terraform
/Infraestructura/.terraform.lock.hcl
**/.idea/
*.user
/.vs/ProyectoIntegrador2/CopilotIndices/17.13.444.19527
/.vs/ProyectoIntegrador2/FileContentIndex
/.vs/ProyectoIntegrador2/v17
/Backend/StoreFlow.Compras/.vs
/.vs
/Backend/StoreFlow.Compras/TestResults
