<div class="p-16 column gap-8">
  <app-card-informacion
    [titulo]="titulo"
    [descripcion]="descripcion"
  ></app-card-informacion>
  <div class="row justify-content-end">
    <mat-form-field appearance="outline" class="bg-white width-240">
      <input
        i18n-placeholder="pedido.buscarPedido"
        placeholder="Buscar pedido "
        [formControl]="controlBuscar"
        type="text"
        matInput
        data-testid="input-buscar-pedido"
      />
      <mat-icon matSuffix class="color-grey-500">search</mat-icon>
    </mat-form-field>
  </div>
  <app-panel-pedidos [pedidos]="store.pedidosFiltrados()"></app-panel-pedidos>
</div>
