<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Exclude>
						[*]*
						[StoreFlow.Usuarios.API.Migrations*]*
						[StoreFlow.Usuarios.API.Program]*
					</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>