<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<ExcludeByFile>../StoreFlow.Usuarios.API/Program.cs,../StoreFlow.Usuarios.API/Migrations/20250403131236_CreacionUsuaio.cs,../StoreFlow.Usuarios.API/Migrations/20250403131236_CreacionUsuaio.Designer.cs,../StoreFlow.Usuarios.API/Migrations/20250406025023_DatosSemillaUsuarios.cs,../StoreFlow.Usuarios.API/Migrations/20250406025023_DatosSemillaUsuarios.Designer.cs,../StoreFlow.Usuarios.API/Migrations/UsuariosDbContextModelSnapshot.cs,**/obj/**/*.cs,**/Properties/**/*.cs,**/*.Designer.cs,**/*.g.cs,**/*.AssemblyInfo.cs</ExcludeByFile>
					<ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
					<IncludeDirectory>../StoreFlow.Usuarios.API</IncludeDirectory>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
