mat-list-item {
  border-bottom: 1px solid #ededed;
}

.max-tamanio-30 {
  max-width: 30px;
  max-height: 30px;
}

.tamanio-30 {
  width: 30px;
  height: 30px;
}

.min-width-27 {
  min-width: 27px;
}
