<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Exclude>
						[StoreFlow.Usuarios.API.Migrations*]*
						[StoreFlow.Usuarios.API.Program]*
						[*]*.Designer.cs
						[*]*.g.cs
						[*]*.AssemblyInfo.cs
						[*]*.Startup.cs
						[*]*.csproj
						[*]*.razor
						[*]*.cshtml
						[*]*.json
						[*]*.http
						[*]*.Tests*]*
						[*]obj*]*
						[*]Properties*]*
					</Exclude>
					<Include>
						[StoreFlow.Usuarios.API*]*
					</Include>
					<ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
					<ExcludeByFile>**/obj/**/*.cs,**/Properties/**/*.cs</ExcludeByFile>
					<IncludeDirectory>StoreFlow.Usuarios.API</IncludeDirectory>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
